body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/**Section Styling**/
nav {
    background-color: #ffffff;
    color: #08090A;
    padding: 10px 0;
}

section{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px auto;
}


/**Navigation**/
.top_nav_container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.logo a {
    color: #08090A;
    text-decoration: none;
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: #08090A;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}

/**Hero content just an image with text on top**/
.hero_section{
    background-image: url(../static/images/oregon_mountains.jpg);

    /**Set a specific height**/
    min-height: 70vh;
    width: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover; /**Even if your screen is a different shape, the picture will always cover everything**/
    position: relative;
}

.hero_content{
    max-width: 90%;
    margin: 0 auto;
}

/**Product Content set to 3 columns**/
.product_section{
    text-align: center;
    background-color: #ffffff;
}

.product_content{
    padding: 25px;
    column-count: 3;
    column-gap: 10rem;
}

.product_content > img {
    width: calc(100% / 3);
    text-align: center;
}

.product_content img{
    border-radius: 100%;
    width: 250px;
    height: 250px;
}

.product_section:first-child{
    padding: 25px;
}

.about_section{
    text-align: center;
    background-color: #F5F5F5;
}

.about_content > *{
    width: 50%;
    column-count: 2;
    column-gap: 10rem;
}


/**About Section**/
