@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
}

h1, 
p,
a{
    font-family: 'DM Sans', sans-serif;
}

/**Section Styles**/

#top-nav-bar{
    padding: 25px;
    display: flex;
}

#top-nav-bar ul{
    display: flex;
    list-style-type: none;
    font-size: 1rem;
    margin-left: 1rem;
}

#top-nav-bar li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: inherit;
}

.logo{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 5rem;
}

#section-2{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
}

/**Column Styles**/
.column-left{
    flex: 1;
    padding: 25px 25px 25px 100px;
}

.column-left img{
    position: relative;
    z-index: 2;
    width: 550px;
    height: 500px;
}

.white-block{
    position: absolute;
    z-index: 1;
    width: 550px;
    height: 500px;
    background-color: white;
    bottom: 175px;
    left: 105px;
}

.column-right{
    flex: 1;
    padding: 25px 100px 25px 25px;
}

.section-1-h1{
    font-size: 2.5rem;
}

.column-right{
    font-size: 1rem;
}

footer{
    text-align: center;
    padding-top: 75px;
}

footer p a{
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
}