*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
    border: 2px solid blue;
}

/**Section Styles**/

#top-nav-bar{
    padding: 25px;
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top-nav-bar ul{
    display: flex;
    margin: 10px;
    padding: 10px;
    list-style-type: none;
}

#top-nav-bar li{
    padding: 10px; 
    margin-inline-end: 1rem;
    border: solid red;
}

#section-2{
    display: flex;
    justify-content: space-between;
    border: 2px solid #0000ff;
    padding: 25px;
    align-items: center;
}

/**Column Styles**/
.column-left{
    flex: 1;
    padding: 25px 25px 25px 100px;
}

.column-left img{
    position: relative;
    z-index: 2;
    width: 550px;
    height: 500px;
}

.white-block{
    position: absolute;
    z-index: 1;
    width: 550px;
    height: 500px;
    background-color: white;
    bottom: 125px;
    left: 95px;
}

.column-right{
    flex: 1;
    padding: 25px 100px 25px 25px;
}

footer{
    text-align: center;
    padding: 25px;
}

footer a{
    text-decoration: none;
    color: inherit;
}