<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ripz Smoke Shop</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <!--Top Navigation-->
    <nav>
        <div class="top_nav_container">
            <div class="logo">
                <img src="../static/images/ripz_logo.png" alt="ripz_logo" width="75px" height="75px">
            </div>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </nav>
    
    <!--Hero Section-->

    <div class="container">
        <div class="hero_section">
            <div class="hero_content">
                <h2>Discover Exceptional Cannabis, Right Here in Las Cruces.</h2>
                <p>Experience unparalleled quality and personalized service. From expert recommendations
                to a welcoming atmosphere, we're here to enhance your journey in the world of cannabis.</p>
            </div>
        </div>
    </div>

    <!--Top Three Products-->
    <div class="container">
        <div class="product_section">
            <div class="product_content">
                <h2>Discover Our Selection</h2>
                <div><img src="../static/images/weed_bud.jpg" alt="weed_bud"></div>
                <div><img src="../static/images/wax_jar.jpg" alt="wax_jar"></div>
                <div><img src="../static/images/vape_pens.jpg" alt="vape_pens"></div>
            </div>
        </div>
    </div>

    <!--About Section-->

    <div class="container">
        <div class="about_section">
            <div class="about_content">
                <div>1</div>
                <div>2</div>
            </div>
        </div>
    </div>

    <!--Review Section-->

    <div class="container">
        <div class="review_section">
            <div class="review_section">
                
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <p>This is the content of this container</p>
        </div>
    </footer>

</body>
</html>