<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Flask generates the correct URL for the static file, regardless of the deployment configuration.-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Late Night Jam Sessions</title>
    
</head>
<body>
    <!--Example maybe switch to this nav, able to change to tablet sizes and phone sizes-->
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand logo " href="#page-top"><img src="../static/images/guitar-logo.png" alt="guitar-logo" class="logo" width="60px" height="75px"></a>
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#portfolio">Portfolio</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#about">About</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--End of new nav-->

    <!--OLD!!! Navigation Bar-->
    <!--
    <div id="top-nav-bar" class="section"> 
        <ul>
            <img src="../static/images/guitar-logo.png" alt="guitar-logo" class="logo" width="60px" height="75px">
            <li><a href="index.html" class="ga-nav">Home</a></li>
            <li><a href="portfolio.html" class="ga-nav">Portfolio</a></li>
        </ul>
    </div>
-->
    <!--Section 2 Contains Main heading and description-->
    <div id="section-2" class="section">
        <div class="column-left">
            <img src="../static/images/guitar-lounge.png" alt="guitar-lounge">
            <div class="white-block"></div>
        </div>
        <div class="column-right">
            <h1 class="section-1-h1">Late Night Jam Sessions</h1>
            <p class="section-1-p">I’ve always enjoyed exploring different genres and experimenting with new sounds. 
                Late Night Covers is a platform for me to showcase my creativity and share my love of music. 
                Check out my latest projects below and see how I progress my skills through my favorite songs.</p>
        </div>
    </div>

    <!--Section 3 will contain header and paragraph containing intro.-->
    <div id="section-3" class="section">
        <h1 class="section-3-h1">Guitar Covers Collection</h1>
        <p class="section-3-p">Explore my guitar covers collection and dive into the music with me. I hope you enjoy the tunes
            and find something that resonates. Thanks for checking out my covers!</p>
    </div>

    <div id="section4" class="section">
        <div class="video-container">
            <!--
            <iframe width="560" height="315" src="https://www.youtube.com/embed/pYfemkDeovc?si=Ht2A3vUXS-FZeW9J" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>           
            -->
        </div>
    </div>

    <!--Foot Containing personal information-->
    <footer class="section">
        <p><a href="mailto:latenightcovers@gmail.com">latenightcovers@gmail.com</a></p>
    </footer>
    
</body>
</html>